@font-face {
    font-family: "OpenSans";
    src: url("../asstes/fonts/OpenSans.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("../asstes/fonts/Montserrat.ttf") format("truetype");
}
@font-face {
    font-family: "DancingScript";
    src: url("../asstes/fonts/DancingScript.ttf") format("truetype");
}