* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Monserrat", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
.App { 
  background-color: #ece1dd;
  background-repeat: repeat;
}